@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
*{
    font-weight: 900;
    font-family: 'Nunito Sans', sans-serif;
}
li{
    
    display: inline-block;
    padding: 10px 30px;
    background-color: lightsalmon;
    margin-left: 2rem;
    margin-right: 2rem;
}
a{
    color: black;
    text-decoration: none;
}
li:hover{
    background-color: lightcoral;
    cursor: pointer;
}
#navegador{
    display:inline-block;
    border-radius: 3px;
    width: 100%;
    text-align: center;
}
.footer{
    background-color: lightgray;
    text-align: center;
    padding: 1px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.parrafo{
    text-align: justify;
}
img{
    width: 30px;
}
