@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 900;
    font-family: 'Nunito Sans', sans-serif;
}
li{
    display: inline-block;
    padding: 10px 30px;
    background-color: lightsalmon;
    margin-left: 2rem;
    margin-right: 2rem;
}
a{
    color: black;
    text-decoration: none;
}
li:hover{
    background-color: lightcoral;
    cursor: pointer;
}
#navegador{
    display:inline-block;
    border-radius: 3px;
    width: 100%;
    text-align: center;
}
.footer{
    background-color: lightgray;
    text-align: center;
    padding: 1px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.parrafo{
    color:salmon;
    text-align: justify;
}
.parrafo2{
    text-align: justify;
}
img{
    width: 30px;
}
h1{
    margin: unset;
    border: none;
    background-color: lightgray;
    text-align: center;
    padding: 5px;
}
div>p{  /*si tengo varias cosas dentro del div, puedo poner asi div>etiqueta para que se aplique a los hijos directos del div, y sino pongo div etiqueta para que se aplique a todo lo que esta dentro del div*/
    color: lawngreen;
}